@model ITI_Raqmiya_MVC.Models.User
@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProfileDescription)
        @Html.TextAreaFor(m => m.ProfileDescription, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProfileImageUrl)
        @Html.TextBoxFor(m => m.ProfileImageUrl, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    @Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { @class = "btn btn-secondary" })
}
