@model IEnumerable<ITI_Raqmiya_MVC.Models.User>
@{
    ViewBag.Title = "User Management";
}

<h2>User Management (Admin Only)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Is Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.IsCreator</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = user.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id })
                    @if (User.IsInRole("Admin"))
                    {
                        @: |
                        @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
