@model ITI_Raqmiya_MVC.Models.Product


<h2>@Model.Name</h2>
<img src="@Model.CoverImageUrl" width="200" />
<p>@Model.Description</p>
<p>Price: @Model.Price @Model.Currency</p>
@if (!string.IsNullOrEmpty(Model.PreviewVideoUrl))
{
    <video width="320" controls src="@Model.PreviewVideoUrl"></video>
}
