@model IEnumerable<ITI_Raqmiya_MVC.Models.Product>

<h2>Available Products</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <p>@product.Description</p>
        <img src="@product.CoverImageUrl" width="150" />
        <p>Price: @product.Price @product.Currency</p>
        <a asp-action="Details" asp-route-id="@product.Id">View Details</a>
    </div>
}
